<div>
    <h1>FEEDBACK</h1>
    <h2>This is completely optional!!!!</h2>
    <table>
        <tr>
            <th>Feedback On</th>
            <th>Rating</th>
        </tr>
        <tr>
            <td>Attitude</td>
            <td>
                <select ng-model="attitude" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Aptitude</td>
            <td>
                <select ng-model="aptitude" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Reasoning</td>
            <td>
                <select ng-model="reasoning" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Verbal</td>
            <td>
                <select ng-model="verbal" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Communicaiton</td>
            <td>
                <select ng-model="communication" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Situation Handling</td>
            <td>
                <select ng-model="situationhandling" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Team Player</td>
            <td>
                <select ng-model="teamplayer" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
        <tr>
            <td>Overall</td>
            <td>
                <select ng-model="overall" ng-options="num for num in feedbackoptions"></select>
            </td>
        </tr>
    </table>
</div>