body{
    width: 100%;
    height: 100%;
}

#wrap{
    width: inherit;
    height: inherit;
    background-color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}

#header{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #292F33;
    color: azure;
}

#header ul{
    width: inherit;
    height: inherit;
    margin: 0px;
    color:skyblue
}

#header li{
    list-style-type: none;
    width: auto;
    height: 40px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    text-align: center;
    font-size: 35px;
}

#menu{
    position: absolute;
    width: 220px;
    height: 500px;
    margin-top: 55px;
    margin-left: 5px;
}

#menu ul{
    position: absolute;
    width: inherit;
    height: auto;
    margin: 0px;
    padding-bottom: 5px;
    background-color: lightgray;
}

#menu ul li{
    list-style-type: none;
    width: 200px;
    height: 30px;
    margin: 6px;
    padding: 1px;
    margin-left: -10px;
    background-color: #E8E8E8;
    float: left;
    border-radius: 4px;
    text-align: center;
    font: FontAwesome;
}

#menu a{
    text-decoration: none !important;
    color: #212F3D !important;
}

#content{
    position: absolute;
    width: 790px;
    height: 415px;
    margin-top: 55px;
    margin-left: 270px;
    background-color: lightgrey;
    padding: 75px;
    padding-top: 0px;
}

#content h1{
    /*font-family: cursive;*/
    color:#212F3D;
    text-align: center;
}

#content table{
    width: 100%;
    border-collapse: collapse;
    color: #7979d2;
    text-align: center;
}

#content th{
    width: auto;
    height: auto;
    padding: 5px;    
    margin: 0px;
    color: white;
    background-color: #85929E;
}

#content td{
    width: auto;
    height: auto;
    padding: 2px;    
    margin: 0px;
}

#content tr{
    width: auto;
}

#content tr:nth-child(even) {
    color:#424949;
    background-color: #E8E8E8;
}

#content tr:nth-child(odd) {
    color: #515A5A;
    background-color: #E0E0E0;
}

#footer{
    position: absolute;
    width: 100%;
    height: 60px;
    margin-top: 550px;
    background-color: #292F33;
}