body{
    width: 100%;
    height: 100%;
}

#wrap{
    width: inherit;
    height: inherit;
    background-color: azure;
    font-family: "Times New Roman", Times, serif;
}

#header{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: grey;
    color: azure;
}

#header ul{
    width: inherit;
    height: inherit;
    margin: 0px;
    color:skyblue
}

#header li{
    list-style-type: none;
    width: auto;
    height: 40px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    text-align: center;
    font-size: 35px;
}

#menu{
    position: absolute;
    width: 220px;
    height: 500px;
    margin-top: 50px;
}

#menu ul{
    position: absolute;
    width: inherit;
    height: auto;
    margin: 0px;
    background-color: azure;
}

#menu ul li{
    list-style-type: none;
    width: 200px;
    height: 30px;
    margin: 7px;
    padding: 1px;
    margin-left: 10px;
    background-color: lightgrey;
    float: left;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    font: FontAwesome;
}

#vlineg{
    position: absolute;
    width: 3px;
    height: 500px;
    margin-top: 50px;
    margin-left: 300px;
    background-color: grey;
}

#vlineb{
    position: absolute;
    width: 3px;
    height: 500px;
    margin-top: 50px;
    margin-left: 303px;
    background-color:white;
}

a{
    text-decoration: none !important;
    color: black !important;
}

#content{
    position: absolute;
    width: 600px;
    height: 418px;
    margin-top: 55px;
    margin-left: 350px;
    background-color: gainsboro;
    border-radius: 4px;
    padding: 75;
    padding-top: 0px;
}

#content h1{
    /*font-family: cursive;*/
    color:cadetblue;
    text-align: center;
}

#content table{
    color: orangered;
    border: 2px solid black;
}

#content th, td{
    width: 200px;
    height: auto;
    padding: 10px;    
    margin: 15px;
}

#content tr{
    width: inherit;
}

#content tr:nth-child(even) {
    background-color: azure;
}

#footer{
    position: absolute;
    width: 100%;
    height: 60px;
    margin-top: 550px;
    background-color: grey;
}